@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --cordestaque: #BF932A;
    --cortitulotabela: #9E6200;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../imagens/background002.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgb(0, 0, 0, 0.478);
}

header > h1{
    display: flex;
    border: 2px solid rgb(107, 107, 107);
    border-radius: 20px;
    height: 100px;
    width: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(9px);
    color: white;

}

article{
    border: 2px solid blue;
    margin: 2px;
    padding: 2px;
}

article.centalização{
    columns: 2;
}

aside{
    margin: 2px;
    padding: 5px;
}

aside.texto{
    border: 2px solid;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}

p{
    text-indent: 20px;
}

h2{
    color: var(--cordestaque);
    font-size: 16px;
    text-indent: 5px;
}

ul{
    border: 1px solid;
    list-style-position: inside;
    margin: 1px;
    padding: 5px;
}

ul > li{
    margin: 0;
}

div.bloco-colorido{
    background-color: rgba(194, 248, 112, 0.819);
}

div.tarja-colorido{
    background-color: var(--cortitulotabela);
    color: white;
    width: 150px;
    padding: 2px;
}

span.cor-destaque{
    color: var(--cordestaque);
}

div#jc1{
    width: 300px;
    height: 20px;
    align-items: center;
    text-align: center;
}

div.centralização{
    text-align: center;
}

div.bloco{
    border: 2px solid;
    margin: 5px;
    padding: 2px;
}

div.bloco-imagem{
    border: 2px solid red;
    padding: 5px;
    display: flex;
}
div.img1{
    border: 2px solid;
    margin: 1px;
}

div.img2{
    border: 2px solid;
}

div.autor{
    text-align: end;
    font-size: 15px;
}

div#bc1{
    margin: 10px;
    padding: 10px;
    width: 500px;

}

div#bc2{
    margin: 10px;
    width: 500px;
    padding: 10px;
}

div#bc3{
    margin: 20px;
    width: 400px;
    padding: 5px;
}

div.estilo-poema2{
    display: flex;
    justify-content: center;
    padding: 5px;
}

div.estilo-poema{
    width: 200px;
    margin: 35px;
}

div.bloco-citacao{
    width: 400px;
    padding: 5px;
    margin: 9px;
}

div.bloco-italico{
    width: 400px;
    padding: 5px;
    margin: 9px;
}

div#bc4{
    width: 300px;
    padding: 8px;
    margin: 5px;
    text-align: center;
}

div#bc5{
    margin: 30px;
    padding: 7px;
    width: 300px;
    height: 80px;
    text-align: justify;
    align-items: center;
}

div.tb1{
    display: flex;
    justify-content: center;
}

table#tb1{
    width: 600px;
    padding: 5px;
}

table#tb1 > caption{
    color: var(--cordestaque);
}

table > thead{
    background-color: #9E6200;
    color: white;
}

thead.th1{
    height: 30px;
}

table > tbody.corpo > tr:nth-child(2n){
    background-color: lightgreen;
}

table > tbody.corpo > tr:nth-child(odd){
    background-color: rgb(177, 254, 177);
}

td.td2{
    height: 50px;
    padding: 8px;
}

table#tb2{
    width: 400px;
}